<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doordash.doordashlite">

    <!--Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainDoorDashApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >

        <activity android:name=".mainActivityComponent.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.restaurantDetails.RestaurantDetailActivity" />
        <activity android:name=".loginActivityComponent.LoginActivity" />
    </application>
</manifest>
